{% extends './base.html' %}

{% block content %}

<main class="mt-5">
    <div class="container-xxl">
       
        <div class="row g-4">
            <div class="col-6 col-md-4 col-xl-3 col-xxl-2">
                <a href="{% url 'html_tag_scrap' %}" class="btn btn-danger w-100">
                    HTML TAG SCRAPPING
                </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 col-xxl-2">
                <a href="#" class="btn btn-danger w-100">
                    HTML TAG SCRAPPING
                </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 col-xxl-2">
                <a href="#" class="btn btn-danger w-100">
                    HTML TAG SCRAPPING
                </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 col-xxl-2">
                <a href="#" class="btn btn-danger w-100">
                    HTML TAG SCRAPPING
                </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 col-xxl-2">
                <a href="#" class="btn btn-danger w-100">
                    HTML TAG SCRAPPING
                </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 col-xxl-2">
                <a href="#" class="btn btn-danger w-100">
                    HTML TAG SCRAPPING
                </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 col-xxl-2">
                <a href="#" class="btn btn-danger w-100">
                    HTML TAG SCRAPPING
                </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 col-xxl-2">
                <a href="#" class="btn btn-danger w-100">
                    HTML TAG SCRAPPING
                </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 col-xxl-2">
                <a href="#" class="btn btn-danger w-100">
                    HTML TAG SCRAPPING
                </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 col-xxl-2">
                <a href="#" class="btn btn-danger w-100">
                    HTML TAG SCRAPPING
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock content %}